<form action="/" method="post">
    <label>titulo</label>
    <input name="titulo" type="text">

    <label>conteudo</label>
    <input name="conteudo" type="text-area">

    <button type="submit">salvar</button>
</form>

<button class="btn btn-success">salvar</button>