<form action="">
    <label>titulo</label>
    <input name="titulo" type="text">

    <label>conteudo</label>
    <input name="conteudo" type="text-area">

    <button type="submit">salvar</button>
</form>